table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

:host {
  display: block;
  margin: 1rem;
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

:host {
  display: block;
  margin: 1rem;
}

.button {
  color: white;
  background-color: #ef7f01;
  font-weight: bold;
  font-family: Dubai;
  font-stretch: ultra-expanded !important;
  font-size: 16px;
}
.button:hover {
  color: green;
}
.spinner {
  width: 5px;
  height: 5px;
  margin-left: 40%;
  margin-top: 2%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
.example-form-field {
  width: 100%;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 3px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
  margin-right: 15px;
}

.photo
{
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
