table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

:host {
  display: block;
  margin: 1rem;
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

:host {
  display: block;
  margin: 1rem;
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.button {
  color: white;
  background-color: #ef7f01;
  font-weight: bold;
  font-family: Dubai;
  font-stretch: ultra-expanded !important;
  font-size: 16px;
}
.button:hover {
  color: green;
}
.spinner {
  width: 5px;
  height: 5px;
  margin-left: 40%;
  margin-top: 2%;
}
