<div>
  <app-brand title="Administración de colaboradores"></app-brand>
  <mat-card>
    <a mat-button mat-flat-button class="button" routerLink="/user/create">
      Agregar un colaborador nuevo
    </a>
  </mat-card>

  <mat-form-field
    appearance="standard"
    class="example-form-field"
  >
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
  <mat-spinner *ngIf="isLoading" class="spinner" color="warn"></mat-spinner>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    multiTemplateDataRows
    class="mat-elevation-z8"
    *ngIf="!isLoading"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
    </ng-container>
    <!-- Lastname Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
    </ng-container>
    <!--JobTitle Column-->
    <ng-container matColumnDef="job_title_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</th>
      <td mat-cell *matCellDef="let element">{{ element?.job_title_name }}</td>
    </ng-container>
    <!--department Column-->
    <ng-container matColumnDef="department_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</th>
      <td mat-cell *matCellDef="let element">{{ element?.department_name }}</td>
    </ng-container>
    <!--UID Column-->
    <ng-container matColumnDef="card_UID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UID tarjeta</th>
      <td mat-cell *matCellDef="let element">{{ element?.card_UID }}</td>
    </ng-container>
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>
    <!-- Active Column -->
    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.is_active == true">Sí</span>
        <span *ngIf="element.is_active == false">No</span>
      </td>
    </ng-container>
    <!--Options Column-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a
          mat-button
          style="color: darkgreen;"
          [routerLink]="['/user/card/', element._id]"
        >
          <mat-icon aria-hidden="false" aria-label="Delete button">
            credit_card
          </mat-icon>
        </a>
        <mat-action-row>
          <a
            mat-button
            color="primary"
            [routerLink]="['/user/edit', element._id]"
          >
            <mat-icon aria-hidden="false" aria-label="Edit button">
              edit
            </mat-icon>
          </a>
          <a mat-button color="warn" (click)="deleteUser(element._id)">
            <mat-icon aria-hidden="false" aria-label="Delete button">
              delete
            </mat-icon>
          </a>
        </mat-action-row>
      </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
        <div class="example-element-diagram">
          <img [src]="element.photo" [alt]="element.firstname" class="photo">
        </div>
          <div style="width: 50%; display: inline-block; padding-top: 30px;">
            <span>
              <b>Correo:</b>
              {{ element.email }}
            </span>
            <br />
            <span>
              <b>Cédula:</b>
              {{ element.document }}
            </span>
            <br />
            <span>
              <b>Fecha de nacimiento (M / D / A):</b>
              {{ element.date_of_birth }}
            </span>
          </div>
          <div style="display: inline-block; padding-top: 30px;">
            <span>
              <b>Teléfono:</b>
              {{ element.phone }}
            </span>
            <br />
            <span>
              <b>Dirección:</b>
              {{ element.address }}
            </span>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement == element"
      (click)="expandedElement = expandedElement == element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No se encontro un item que concuerde con: "{{ input.value }}"
      </td>
    </tr>
  </table>
  <br />
  <mat-paginator
    [pageSizeOptions]="[10, 40, 70]"
    showFirstLastButtons
    aria-label="Pagina seleccionada de registros"
  ></mat-paginator>
</div>
