<br>
<div class="container">
  <app-brand title="Cambiar contraseña"></app-brand>
  <mat-card>
    <form (submit)="changePassword(pwForm)" #pwForm="ngForm">
      <!-- Input password-->
      <section>
        <mat-form-field
          class="example-form-field"
          appearance="fill"
          style="display: block;"
        >
          <mat-label>Nueva contraseña:</mat-label>
          <input
            matInput
            type="password"
            name="password"
            ngModel
            placeholder="Ingrese una nueva contraseña"
            required
            maxlength="20"
            minlength="8"
            #password2="ngModel"
          />
          <mat-error *ngIf="password2.invalid">
            Por favor ingrese una nueva contraseña válida. Debe tener entre 8 y 20 caracteres
          </mat-error>
          <button
            *ngIf="pwForm.value.nameDepartment"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            type="button"
            (click)="pwForm.reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </section>
      <br />
      <section>
        <button mat-raised-button class="button" type="submit">
          Cambiar Contraseña
        </button>
      </section>
    </form>
  </mat-card>
</div>
