<br />

<br />
<mat-card>
  <form (submit)= "OnLogIn(loginForm)" #loginForm="ngForm">

    <!--  Input Email-->
    <section>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Correo Electrónico:</mat-label>
        <input
          matInput
          ngModel
          name = "email"
          #emailUser="ngModel"
          type="email"
          placeholder="Ejemplo: minombre@asplabel.co"
          required
          email
        />
        <mat-error *ngIf="emailUser.invalid">
          Por favor ingrese un correo electrónico válido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          ngModel
          name="password"
          #passwordUser = "ngModel"
          type="password"
          placeholder="Ingrese la contraseña"
          required
        />
        <mat-error *ngIf="passwordUser.invalid">
          Por favor ingrese una contraseña correcta
        </mat-error>
      </mat-form-field>
    </section>
    <!-- Button to save new User -->
    <section>
      <button mat-raised-button class="button" type="submit" >
        Ingresar
      </button>
    </section>
  </form>
</mat-card>
<br />
<br />
