table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

:host {
  display: block;
  margin: 1rem;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.spinner {
  width: 5px;
  height: 5px;
  margin-left: 40%;
  margin-top: 2%;
}
.snackbar-success {
  color: green;
}
.example-form-field {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
